## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv", index_col = [0])
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Bethel,US,41.3712,-73.4140,79.11,65,0,4.61,clear sky
1,Jamestown,US,42.0970,-79.2353,69.39,55,0,8.05,clear sky
2,Frameries,BE,50.4058,3.8960,54.57,94,42,5.75,scattered clouds
3,Hualmay,PE,-11.0964,-77.6139,60.53,82,59,14.16,broken clouds
4,Mykolayivka,UA,47.5414,30.7561,66.63,55,2,6.38,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Bethel,US,41.3712,-73.4140,79.11,65,0,4.61,clear sky
1,Jamestown,US,42.0970,-79.2353,69.39,55,0,8.05,clear sky
4,Mykolayivka,UA,47.5414,30.7561,66.63,55,2,6.38,clear sky
7,Mabaruma,GY,8.2000,-59.7833,73.22,98,60,2.04,broken clouds
10,Rikitea,PF,-23.1203,-134.9692,66.69,84,100,10.85,light rain
13,Moussoro,TD,13.6408,16.4901,83.61,58,100,8.37,overcast clouds
15,Singaparna,ID,-7.3515,108.1110,75.34,92,92,2.89,overcast clouds
16,Tiarei,PF,-17.5333,-149.3333,80.62,62,54,24.34,broken clouds
17,Ponta Do Sol,PT,32.6667,-17.1000,71.01,81,1,2.59,clear sky
18,Mahebourg,MU,-20.4081,57.7000,68.29,83,40,11.50,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isna().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bethel,US,79.11,clear sky,41.3712,-73.4140,
1,Jamestown,US,69.39,clear sky,42.0970,-79.2353,
4,Mykolayivka,UA,66.63,clear sky,47.5414,30.7561,
7,Mabaruma,GY,73.22,broken clouds,8.2000,-59.7833,
10,Rikitea,PF,66.69,light rain,-23.1203,-134.9692,
13,Moussoro,TD,83.61,overcast clouds,13.6408,16.4901,
15,Singaparna,ID,75.34,overcast clouds,-7.3515,108.1110,
16,Tiarei,PF,80.62,broken clouds,-17.5333,-149.3333,
17,Ponta Do Sol,PT,71.01,clear sky,32.6667,-17.1000,
18,Mahebourg,MU,68.29,scattered clouds,-20.4081,57.7000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != "" ]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bethel,US,79.11,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
1,Jamestown,US,69.39,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,Mykolayivka,UA,66.63,clear sky,47.5414,30.7561,Готель
7,Mabaruma,GY,73.22,broken clouds,8.2000,-59.7833,Monty Brooms Guest House
10,Rikitea,PF,66.69,light rain,-23.1203,-134.9692,People ThankYou

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))